.app-body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

@media screen and (min-width: 768px) {
  html,
  body {
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
